.git
.gitignore
README.md
.next
node_modules
npm-debug.log
.env*.local
.env.development
.env.test
.env.production
.dockerignore
Dockerfile
docker-compose*.yml
**/dist
**/.DS_Store
**/*.pem
coverage
.vscode
.idea 